<!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="friendsapplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-left: 0px;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                <ul id="myTab" class="nav nav-tabs" style="padding-left: 49px;">
                    <li class="active">
                        <a href="#friend_tab" data-toggle="tab">
                            好友申请
                        </a>
                    </li>
                    <li><a href="#group_tab" data-toggle="tab">入群申请</a></li>
                  
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="friend_tab">
                    <div style="margin-left: 50px; margin-bottom: 100px; margin-top: 20px;margin-right:50px">
                        <ul class="list-group friendsApply"></ul>

                    </div>
                </div>
                <div class="tab-pane fade" id="group_tab">
               
                        <div style="margin-left: 50px; margin-bottom: 100px; margin-top: 20px;margin-right:50px">
                            <ul class="list-group groupApply"></ul>

                        </div>
                    
                </div>
            
            </div>

      
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
