<!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户搜索</h4>
            </div>
            <div style="margin-left: 50px; margin-bottom: 100px; margin-top: 20px; ">
               <div class="btn-group-vertical">
	     	<button type="button" class="btn btn-default dropdown-toggle search_type" data-toggle="dropdown"  style="height: 35px;border-radius: 4px;">
			好友
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu search_type_ul" style="width: 83px;min-width: 71px;">
			<li><a href="#">好友</a></li>
			<li><a href="#">群</a></li>
		</ul>
	</div>

                <input id="searchVal" style="width: 59%; display: inline-block;" class="form-control" placeholder="请输入要查询的用户名或账号" />
                <button id="searchBtn" type="button" class="btn btn-primary" style="margin-left: 10px;">
                    搜索
                </button>
                <div class="searchresult_info" style="margin-top: 30px;display:none">
                    <input id="searchresult_uid" style="display:none" />
                    <img id="searchresult_avatar" src="~/Images/webwxgeticon.jpg" style="display:inline;width:80px;float:left" />
                    <div style="margin-left: 100px; font-size: 17px;padding-top: 8px;">
                        <span style="display: block;color: #696464;">昵称：<span id="searchresult_name" style="color: #EA3030;">Andy</span></span>

                        <span style="display: block;margin-top: 13px;color: #696464;">状态：<span id="searchresult_status" style="color: #EA3030;">zaixiao</span></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button id="sendreply" type="button" class="btn btn-primary" disabled="disabled">添加好友</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
