
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
   
    <script src="../Scripts/jquery-2.0.0.min.js"></script>
 

   
    <style type="text/css">
        .textBox {
           outline: none;
    margin: auto;
    font-size: 1.5em;
    padding: 25px 10px 25px 10px;
    border: none;
  
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-bottom: 2px solid #eee;
    width: 32%;
    color: white;
    font-weight: 600;
    display: block;
        }
        body {
              background: url(/Content/pclogin/images/bg2.jpg) no-repeat;
    background-size: 100% 100%;
        }
        html,body{
    height:100%;
    width:100%;
     position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
        .submitButton {
            background: url('/Content/pclogin/images/arrow.png')  no-repeat 30% 45%;
       
            height: 67px;
            outline: none;
            margin-top: 38px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid #fff;
            width: 67px;
                display: block;
   
    margin: auto;
    margin-top: 5%;
        }
        .header-w3l h1 {
                margin-top: 100px;
    margin-bottom: 100px;
    font-size: 3.5em;
    text-align: center;
    color: white;
    letter-spacing: 6px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
    </style>

</head>
<body>
    <div class="header-w3l">
        <h1>Welcome to FishChat</h1>
    </div>
    <form id="loginform" action="/User/Login" method="post" style="width: 50%;   margin: auto;margin-top:10%">
    <div id="divLogin" class="login" style="margin: auto; width:100%; margin-top: 100px;">
         
            <input placeholder="Username"  id="txtNickName" name="name" type="text" class="textBox"  />
         
            <input  placeholder="Password" id="pwd" type="password" name="pwd" class="textBox"   />
     
       
            <input id="btnStartChat" type="button" class="submitButton" value="" />
         
    </div>
  
</form>
    <script>
        $("#btnStartChat").click(function(){

            $("#loginform").submit();
        //    var Pwd=$("#pwd").val();
        //    var name=$("#txtNickName").val();
        //$.ajax({
        //    url:"/User/Login",
        //    type: "post",
        //    data: { pwd: Pwd, name: name },
        //    success: function (data) {
                 
        //      location.href="/"
        //        }
            
        //});
        });
        $("input").focus(function () {
      
        });
    </script>

</body>


@*<body>
    <!--header-->
    <div class="header-w3l">
        <h1> Transparent Login Form</h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
      <form id="loginform" action="/User/Login" method="post">
    <input placeholder="Username" name="name" class="user textBox" type="text" required=""><br>
    <input placeholder="Password" name="pwd" class="pass submitButton" type="password" required=""><br>
    <input type="submit" value="">
    <input id="btnStartChat" type="button" class="submitButton" value="登录" />
</form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2017 Transparent Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    <!--//footer-->
    <script>
        $("#btnStartChat").click(function(){

            $("#loginform").submit();
      
        });
    </script>
</body>*@
</html>


