@{
    ViewBag.Title = "Home Page";
}

<link href="../Scripts/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<style type="text/css">
   .first ,.main {
    width:60%;
    margin:auto;
        padding-top: 100px;
    }
</style>
 <body>
     <div class="main" style="display:none">
         <div style="text-align: center;  font-size: 27px;">
             咸鱼也会翻身！会翻身！翻身！

         </div>


         <img src="~/Images/timg.jpg" style="width: 50%;position: relative; left: 24%;"/>
     </div>
     <div class="first" style="">
         <div style="text-align: center;  font-size: 27px;">你是一条咸鱼！！！</div>
         <img  style="width: 50%;position: relative; left: 24%;" src="~/Images/timg2.jpg" />
         <a href="#" style="display: block; text-align: center; font-size: 23px;font-weight: bold;">不过</a>
     </div>
     <script>
         $(".first a").click(function () {

             $(".first").hide();
             $(".main").show();
         });
     </script>
</body>